@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: 220 13% 13%;
    --foreground: 220 10% 97%;
    --muted: 216 13.15% 18.8%;
    --muted-foreground: 220 10% 70%;
    --popover: 220 13% 16%;
    --popover-foreground: 220 10% 97%;
    --card: 220 13% 15%;
    --card-foreground: 220 10% 97%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --primary: 220 10% 97%;
    --primary-foreground: 220 13% 13%;
    --secondary: 220 13% 20%;
    --secondary-foreground: 220 10% 97%;
    --accent: 220 13% 18%;
    --accent-foreground: 220 10% 97%;
    --destructive: 0 77% 39.22%;
    --destructive-foreground: 0 0% 100%;
    --ring: 240 6.67% 97.06%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen font-sans antialiased;
  }
}
